telegram_token=123456890:1234567890abcdefgh
telegram_bot_self_name=@OwnNameOfTheBot
telegram_otp_seed=BASE32LONGLONGSTRING
telegram_announce_info_regexp_to_extract='^Name:|^\s+Total Size:'
telegram_announce_info_regexp_replace=(regexps to replace some values in info)
telegram_announce_template='*New torrent added*\n`%s`\n[Download](%s)\n'
telegram_msg_template='Some message with one argument %s'
